.vs/
packages/Microsoft.googletest.v140.windesktop.msvcstl.dyn.rt-dyn.1.8.0/ThirdPartyNotices.txt
packages/Microsoft.googletest.v140.windesktop.msvcstl.dyn.rt-dyn.1.8.0/license (MIT).txt
ProjCppApi/~AutoRecover.ProjCppApi.vcxproj
x64/Debug/
ProjCppApi/x64/Debug/
ProjCoreApi/bin/Debug/
ProjCoreApi/bin/x64/Debug/netcoreapp2.1/ProjCoreApi.deps.json
ProjCoreApi/bin/x64/Debug/netcoreapp2.1/ProjCoreApi.dll
ProjCoreApi/bin/x64/Debug/netcoreapp2.1/ProjCoreApi.pdb
ProjCoreApi/obj/ProjCoreApi.csproj.nuget.cache
ProjCoreApi/obj/ProjCoreApi.csproj.nuget.g.props
ProjCoreApi/obj/ProjCoreApi.csproj.nuget.g.targets
ProjCoreApi/obj/project.assets.json
ProjCoreApi/obj/Debug/netcoreapp2.1/ProjCoreApi.AssemblyInfo.cs
ProjCoreApi/obj/Debug/netcoreapp2.1/ProjCoreApi.AssemblyInfoInputs.cache
ProjCoreApi/obj/Debug/netcoreapp2.1/ProjCoreApi.assets.cache
ProjCoreApi/obj/Debug/netcoreapp2.1/ProjCoreApi.csproj.CoreCompileInputs.cache
ProjCoreApi/obj/Debug/netcoreapp2.1/ProjCoreApi.csproj.FileListAbsolute.txt
ProjCoreApi/obj/Debug/netcoreapp2.1/ProjCoreApi.dll
ProjCoreApi/obj/Debug/netcoreapp2.1/ProjCoreApi.pdb
ProjCoreApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProjCoreApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProjCoreApi/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProjCoreApi/obj/Debug/netcoreapp2.2/ProjCoreApi.AssemblyInfo.cs
ProjCoreApi/obj/Debug/netcoreapp2.2/ProjCoreApi.AssemblyInfoInputs.cache
ProjCoreApi/obj/Debug/netcoreapp2.2/ProjCoreApi.assets.cache
ProjCoreApi/obj/Debug/netcoreapp2.2/ProjCoreApi.csproj.CoreCompileInputs.cache
ProjCoreApi/obj/Debug/netcoreapp2.2/ProjCoreApi.csprojAssemblyReference.cache
ProjCoreApi/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProjCoreApi/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProjCoreApi/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProjCoreApi/obj/x64/Debug/netcoreapp2.1/ProjCoreApi.AssemblyInfo.cs
ProjCoreApi/obj/x64/Debug/netcoreapp2.1/ProjCoreApi.AssemblyInfoInputs.cache
ProjCoreApi/obj/x64/Debug/netcoreapp2.1/ProjCoreApi.assets.cache
ProjCoreApi/obj/x64/Debug/netcoreapp2.1/ProjCoreApi.csproj.CoreCompileInputs.cache
ProjCoreApi/obj/x64/Debug/netcoreapp2.1/ProjCoreApi.csproj.FileListAbsolute.txt
ProjCoreApi/obj/x64/Debug/netcoreapp2.1/ProjCoreApi.dll
ProjCoreApi/obj/x64/Debug/netcoreapp2.1/ProjCoreApi.pdb
ProjCoreApi/obj/x64/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProjCoreApi/obj/x64/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProjCoreApi/obj/x64/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/Microsoft.googletest.v140.windesktop.msvcstl.dyn.rt-dyn.1.8.0/build/native/Microsoft.googletest.v140.windesktop.msvcstl.dyn.rt-dyn.propertiesui.xml
Debug/
*.json
*.cache
*.props
*.targets
ProjnetApi/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
ProjnetApi/obj/Release/ProjNetApi.application
ProjnetApi/obj/Release/ProjNetApi.csproj.CopyComplete
ProjnetApi/obj/Release/ProjNetApi.csproj.FileListAbsolute.txt
ProjnetApi/obj/Release/ProjNetApi.exe
ProjnetApi/obj/Release/ProjNetApi.exe.manifest
ProjnetApi/obj/Release/ProjNetApi.pdb
ProjnetApi/bin/Release/ProjCppApiClr.dll
ProjnetApi/bin/Release/ProjCppApiClr.pdb
ProjnetApi/bin/Release/ProjNetApi.application
ProjnetApi/bin/Release/ProjNetApi.exe
ProjnetApi/bin/Release/ProjNetApi.exe.config
ProjnetApi/bin/Release/ProjNetApi.exe.manifest
ProjnetApi/bin/Release/ProjNetApi.pdb
ProjnetApi/bin/Release/app.publish/ProjNetApi.exe
ProjnetApi/ProjNetApi_TemporaryKey.pfx
ProjnetApi/publish/ProjNetApi.application
ProjnetApi/publish/setup.exe
ProjnetApi/publish/Application Files/ProjNetApi_1_0_0_0/ProjCppApiClr.dll.deploy
ProjnetApi/publish/Application Files/ProjNetApi_1_0_0_0/ProjNetApi.application
ProjnetApi/publish/Application Files/ProjNetApi_1_0_0_0/ProjNetApi.exe.config.deploy
ProjnetApi/publish/Application Files/ProjNetApi_1_0_0_0/ProjNetApi.exe.deploy
ProjnetApi/publish/Application Files/ProjNetApi_1_0_0_0/ProjNetApi.exe.manifest
ProjCoreApi/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ProjCoreApi/obj/Release/netcoreapp3.1/ProjCoreApi.AssemblyInfo.cs
ProjCoreApi/obj/Release/netcoreapp3.1/ProjCoreApi.csproj.FileListAbsolute.txt
x64/Release/ProjNetApi.pdb
x64/Release/netcoreapp3.1/publish/ProjCoreApi.pdb
x64/Release/netcoreapp3.1/ProjCoreApi.pdb
ProjCppApiClr/x64/Release/.NETCoreApp,Version=v3.1.AssemblyAttributes.cpp
ProjCppApiClr/x64/Release/.NETCoreApp,Version=v3.1.AssemblyAttributes.obj
ProjCppApiClr/x64/Release/ProjCppApiClr.Build.CppClean.log
ProjApiUTest/x64/Release/ProjApiUTest.log
ProjnetApi/obj/Release/ProjNetApi.exe.config
ProjCoreApi/obj/Release/netcoreapp3.1/apphost.exe
ProjCoreApi/obj/Release/netcoreapp3.1/ProjCoreApi.dll
ProjCoreApi/obj/Release/netcoreapp3.1/ProjCoreApi.pdb
ProjCoreApi/bin/Release/netcoreapp3.1/ProjCoreApi.pdb
ProjCppApiTest/x64/Release/pch.obj
ProjCppApiTest/x64/Release/ProjCppApiTest.Build.CppClean.log
ProjCppApiTest/x64/Release/ProjCppApiTest.dll.recipe
ProjCppApiTest/x64/Release/ProjCppApiTest.log
ProjCppApiTest/x64/Release/ProjCppApiTest.obj
ProjCppApiTest/x64/Release/ProjCppApiTest.pch
ProjCppApiTest/x64/Release/ProjCppApiTest.vcxproj.FileListAbsolute.txt
ProjCppApiTest/x64/Release/vc142.pdb
ProjCppApiTest/x64/Release/ProjCppApiTest.tlog/CL.command.1.tlog
ProjCppApiTest/x64/Release/ProjCppApiTest.tlog/CL.read.1.tlog
ProjCppApiTest/x64/Release/ProjCppApiTest.tlog/CL.write.1.tlog
ProjCppApiTest/x64/Release/ProjCppApiTest.tlog/link.command.1.tlog
ProjCppApiTest/x64/Release/ProjCppApiTest.tlog/link.read.1.tlog
ProjCppApiTest/x64/Release/ProjCppApiTest.tlog/link.write.1.tlog
ProjCppApiTest/x64/Release/ProjCppApiTest.tlog/ProjCppApiTest.lastbuildstate
ProjCppApiTest/x64/Release/ProjCppApiTest.tlog/unsuccessfulbuild
x64/Release/ProjCppApiTest.exp
x64/Release/ProjCppApiTest.pdb
ProjNetApi/obj/Release/build.force
ProjCppApiTest/x64/Release/ProjCppApiTest.iobj
ProjCppApiTest/x64/Release/ProjCppApiTest.ipdb
ProjCppApiTest/x64/Release/vcpkg.applocal.log
ProjCppApiTest/x64/Release/ProjCppApiTest.tlog/metagen.read.1.tlog
ProjCppApiTest/x64/Release/ProjCppApiTest.tlog/metagen.write.1.tlog
ProjCppApiTest/x64/Release/ProjCppApiTest.tlog/ProjCppApiTest.write.1u.tlog
ProjCppApiNet/x64/Release/.NETCoreApp,Version=v3.1.AssemblyAttributes.cpp
ProjCppApiNet/x64/Release/.NETCoreApp,Version=v3.1.AssemblyAttributes.obj
ProjCppApiNet/x64/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cpp
ProjCppApiNet/x64/Release/app.res
ProjCppApiNet/x64/Release/AssemblyInfo.obj
ProjCppApiNet/x64/Release/pch.obj
ProjCppApiNet/x64/Release/ProjCppApiClr.Build.CppClean.log
ProjCppApiNet/x64/Release/ProjCppApiClr.dll.recipe
ProjCppApiNet/x64/Release/ProjCppApiClr.log
ProjCppApiNet/x64/Release/ProjCppApiClr.vcxproj.FileListAbsolute.txt
ProjCppApiNet/x64/Release/ProjCppApiNet.Build.CppClean.log
ProjCppApiNet/x64/Release/ProjCppApiNet.log
ProjCppApiNet/x64/Release/ProjCppApiNet.obj
ProjCppApiNet/x64/Release/ProjCppApiNet.pch
ProjCppApiNet/x64/Release/ProjCppApiNet.vcxproj.FileListAbsolute.txt
ProjCppApiNet/x64/Release/vc142.pdb
ProjCppApiNet/x64/Release/vcpkg.applocal.log
ProjCppApiNet/x64/Release/ProjCppApiClr.tlog/CL.command.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiClr.tlog/CL.read.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiClr.tlog/CL.write.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiClr.tlog/link.command.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiClr.tlog/link.read.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiClr.tlog/link.write.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiClr.tlog/ProjCppApiClr.lastbuildstate
ProjCppApiNet/x64/Release/ProjCppApiClr.tlog/ProjCppApiClr.write.1u.tlog
ProjCppApiNet/x64/Release/ProjCppApiClr.tlog/rc.command.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiClr.tlog/rc.read.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiClr.tlog/rc.write.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiNet.tlog/CL.command.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiNet.tlog/CL.read.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiNet.tlog/CL.write.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiNet.tlog/link.command.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiNet.tlog/link.read.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiNet.tlog/link.write.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiNet.tlog/ProjCppApiNet.lastbuildstate
ProjCppApiNet/x64/Release/ProjCppApiNet.tlog/ProjCppApiNet.write.1u.tlog
ProjCppApiNet/x64/Release/ProjCppApiNet.tlog/rc.command.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiNet.tlog/rc.read.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiNet.tlog/rc.write.1.tlog
ProjCppApiNet/x64/Release/ProjCppApiNet.tlog/unsuccessfulbuild
ProjCppApiNet/x64/
x64/Release/ProjCppApiNet.exp
x64/Release/ProjCppApiNet.pdb
x64/Release/Ijwhost.dll
x64/Release/Microsoft.Bcl.AsyncInterfaces.dll
x64/Release/System.Buffers.dll
x64/Release/System.Runtime.CompilerServices.Unsafe.dll
x64/Release/System.Text.Encodings.Web.dll
x64/Release/System.Text.Json.dll
x64/Release/System.ValueTuple.dll
ProjCppApiCore/x64/Release/.NETCoreApp,Version=v3.1.AssemblyAttributes.cpp
ProjCppApiCore/x64/Release/.NETCoreApp,Version=v3.1.AssemblyAttributes.obj
ProjCppApiCore/x64/Release/app.res
ProjCppApiCore/x64/Release/AssemblyInfo.obj
ProjCppApiCore/x64/Release/pch.obj
ProjCppApiCore/x64/Release/ProjCppApiCore.dll.recipe
ProjCppApiCore/x64/Release/ProjCppApiCore.log
ProjCppApiCore/x64/Release/ProjCppApiCore.obj
ProjCppApiCore/x64/Release/ProjCppApiCore.pch
ProjCppApiCore/x64/Release/ProjCppApiCore.vcxproj.FileListAbsolute.txt
ProjCppApiCore/x64/Release/vc142.pdb
ProjCppApiCore/x64/Release/vcpkg.applocal.log
ProjCppApiCore/x64/Release/ProjCppApiCore.tlog/CL.command.1.tlog
ProjCppApiCore/x64/Release/ProjCppApiCore.tlog/CL.read.1.tlog
ProjCppApiCore/x64/Release/ProjCppApiCore.tlog/CL.write.1.tlog
ProjCppApiCore/x64/Release/ProjCppApiCore.tlog/link.command.1.tlog
ProjCppApiCore/x64/Release/ProjCppApiCore.tlog/link.read.1.tlog
ProjCppApiCore/x64/Release/ProjCppApiCore.tlog/link.write.1.tlog
ProjCppApiCore/x64/Release/ProjCppApiCore.tlog/ProjCppApiCore.lastbuildstate
ProjCppApiCore/x64/Release/ProjCppApiCore.tlog/ProjCppApiCore.write.1u.tlog
ProjCppApiCore/x64/Release/ProjCppApiCore.tlog/rc.command.1.tlog
ProjCppApiCore/x64/Release/ProjCppApiCore.tlog/rc.read.1.tlog
ProjCppApiCore/x64/Release/ProjCppApiCore.tlog/rc.write.1.tlog
x64/Release/ProjCppApiCore.pdb
x64/Release/ProjCppApiCore.exp
DemoConsole/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DemoConsole/obj/Release/netcoreapp3.1/DemoConsole.AssemblyInfo.cs
DemoConsole/obj/Release/netcoreapp3.1/DemoConsole.csproj.FileListAbsolute.txt
DemoConsole/obj/x64/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
DemoConsole/obj/x64/Release/netcoreapp3.1/apphost.exe
DemoConsole/obj/x64/Release/netcoreapp3.1/DemoConsole.AssemblyInfo.cs
DemoConsole/obj/x64/Release/netcoreapp3.1/DemoConsole.csproj.CopyComplete
DemoConsole/obj/x64/Release/netcoreapp3.1/DemoConsole.csproj.FileListAbsolute.txt
DemoConsole/obj/x64/Release/netcoreapp3.1/DemoConsole.dll
DemoConsole/obj/x64/Release/netcoreapp3.1/DemoConsole.pdb
DemoConsole/bin/x64/Release/netcoreapp3.1/DemoConsole.dll
DemoConsole/bin/x64/Release/netcoreapp3.1/DemoConsole.exe
DemoConsole/bin/x64/Release/netcoreapp3.1/DemoConsole.pdb
DemoConsole/bin/x64/Release/netcoreapp3.1/DemoCore.dll
DemoConsole/bin/x64/Release/netcoreapp3.1/DemoCore.pdb
DemoConsole/bin/x64/Release/netcoreapp3.1/Ijwhost.dll
DemoCore/x64/
DemoCpp/x64/Release/DemoCpp.dll.recipe
DemoCpp/x64/Release/DemoCpp.iobj
DemoCpp/x64/Release/DemoCpp.ipdb
DemoCpp/x64/Release/DemoCpp.log
DemoCpp/x64/Release/Entity.obj
DemoCpp/x64/Release/vc142.pdb
DemoCpp/x64/Release/vcpkg.applocal.log
DemoCpp/x64/Release/DemoCpp.tlog/CL.command.1.tlog
DemoCpp/x64/Release/DemoCpp.tlog/CL.read.1.tlog
DemoCpp/x64/Release/DemoCpp.tlog/CL.write.1.tlog
DemoCpp/x64/Release/DemoCpp.tlog/DemoCpp.lastbuildstate
DemoCpp/x64/Release/DemoCpp.tlog/DemoCpp.write.1u.tlog
DemoCpp/x64/Release/DemoCpp.tlog/link.command.1.tlog
DemoCpp/x64/Release/DemoCpp.tlog/link.delete.1.tlog
DemoCpp/x64/Release/DemoCpp.tlog/link.read.1.tlog
DemoCpp/x64/Release/DemoCpp.tlog/link.write.1.tlog
DemoCpp/x64/
readme/
x64/Release/netcoreapp3.1/DemoConsole.pdb
x64/Release/netcoreapp3.1/DemoCore.pdb
x64/Release/DemoCore.exp
x64/Release/DemoCore.pdb
x64/Release/DemoCpp.exp
x64/Release/DemoCpp.pdb
ProjCppApi/x64/Release/
x64/Release/
ProjCoreApi/obj/
ProjCoreApi/bin/
ProjCppApiCore/x64/Release/
ProjnetApi/obj/
ProjCppApiTest/x64/Release/ProjCppApiTest.vcxproj.CopyComplete
ProjCppApiTest/x64/Release/ProjCppApiTest.tlog/link.delete.1.tlog
AspCoreWebApi/obj/
AspCoreWebApp/obj/
ProjNetApi_/obj/x64/Release/ProjNetApi.pdb
ProjNetApi_/obj/
AspCoreWebApi/bin/
AspCoreWebApp/bin/
